<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.charlesbai321.myapplication">

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
         this is needed to specify that this is an activity and mainactivity is the logical
         parent of the activity
        -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA1gKANMym6L8DRdnraCMe2DQqBFd3EsJQ" />

        <activity
            android:name=".Activities.AddLocationActivity"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.charlesbai321.myapplication.Activities.MainActivity" />
        </activity>
        <service
            android:name=".Util.GPSService"
            android:stopWithTask="false" />
        <service android:name=".Util.ParseLocationService" />
        <service android:name=".Util.StartGPSService" />

        <activity
            android:name=".Activities.SinglePlaceActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activities.MainActivity">
        </activity>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Activities.SinglePlaceActivity">
        </meta-data>
    </application>

</manifest>